# Node.js
node_modules/

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# npm
package-lock.json
yarn.lock

# IDE and OS-specific files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Build and dist folders
dist/
build/
coverage/

# Test results
*.tgz
test-results/
